<p>
  <strong>Dia:</strong>
  <%= @horario.dia %>
</p>
<p>
  <strong>Periodo:</strong>
  <%= @horario.periodo %>
</p>
<p>
  <strong>Hora Inicio:</strong>
  <%inicio = @horario.hora_inicio.to_s%>
  <% start = inicio.split(' ')  %>
  <%=start[1]%>
</p>
<p>
  <strong>Hora Termino:</strong>
  <%termino = @horario.hora_termino.to_s%>
  <% final = termino.split(' ')  %>
  <%=final[1]%>
</p>

