<div class="table-responsive">
  <table id="example1" class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Producto</th>
      <th>Existencia</th>
    </tr>
    </thead>
    <tbody>
    <% @stock.each do |actual| %>
      <tr>
        <% producto = @producto.find(actual.id_producto) && compra = @compra.find(actual.id_producto) && venta = @venta.find(actual.id_producto) %>
        <td><%= producto.nombre %></td>
        <td><%= (compra.cantidad - venta.cantidad) %></td>
      </tr>
    <%end%>
    </tbody>
    <tfoot>
    </tfoot>
  </table>
</div>

</div>
<!-- /.box-body -->
</div>
<!-- /.box -->
</div>
<!-- /.col -->
</div>
<!-- /.row -->
</section>
<!-- /.content -->
</div>
<% if current_user %>
  <script>

      $(document).ready(function() {
          $('#example1').DataTable({
              "language": {
                  "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
              }
          });
      });

      $(function () {
          $('#example1').DataTable()
          $('#example2').DataTable({
              'paging'      : true,
              'lengthChange': false,
              'searching'   : false,
              'ordering'    : true,
              'info'        : true,
              'autoWidth'   : false
          })
      })
  </script>
<%end%>