<p>
  <strong>N° Maquina</strong>
</p>
<p>
  <strong>Patente</strong>
</p>
<p>
<strong>Año Vehiculo:</strong>
</p>
<p>
  <strong>Marca : </strong>
</p>
<p>
  <strong>Carroceria : </strong>
</p>
<p>
  <strong>N° Motor:</strong>
</p>
<p>
  <strong>N° Chasis:</strong>
</p>
<p>
  <strong>categoria:</strong>
</p>
