<p>
  <strong>descripcion:</strong>
  <%= @ruta.descripcion %>
</p>
<p>
  <strong>recorrido:</strong>
  <%= @ruta.recorrido %>
</p>
<p>
  <strong>empresa:</strong>
  <%= @ruta.id_empresa %>
</p>
<p>
  <strong>periodos:</strong>
  <%= @ruta.id_horario %>
</p>
