<%def digito_verificador(rut)%>
  <%[*0..9,'K'][rut.to_s.reverse.chars.inject([0,0]){|(i,a),n|[i+1,a-n.to_i*(i%6+2)]}[1]%11]%>
<%end%>
<p>
  <strong>Rut:</strong>
  <%= @empresa.rut %>
  <%=digito_verificador(@empresa.rut)%>
</p>
<p>
  <strong>Nombres:</strong>
  <%= @empresa.nombre %>
</p>

